* {
    font-family: sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

    --background-color: white;
    --text-color: black;
    --text-color2: white;
    --theme-color: #674ea7;
    background-color: var(--background-color);
}

p {
    margin: 0;
    padding: 0;

    display: block;
}

ul {
    margin: 0;
}

ol {
    margin: 0;
}



code {
    font-family: monospace;
    color: white;
    margin: 5px 0;
    /*line-height: 32px;*/
}


pre {
    display: inline-block;
    background-color: dimgray;
    padding: 15px 5px;
    margin: 5px 0;
    font-size: 11pt;
    border: 0 solid var(--theme-color);
    border-left-width: 3px;

    border-radius: 7px;

    min-width: 500px;
}

.title-bar {
    width: 70%;
    /*padding-left: 45px;*/
    background-color: var(--theme-color);
    height: 450px;

    padding-left: 25px;
    padding-right: 25px;
    margin: 50px 0 0 200px;
    text-align: center;
    border-right: 2px solid var(--theme-color);
}

.title-bar-container {
    margin-left: 0;
    background-color: var(--background-color);
}

.title-bar a {
    position: absolute;
    top: -50px;
}

.content-container {
    text-align: left;
    background-color: var(--background-color);
}


.content {
    display: inline-block;
    text-align: left;

    width: 70%;
    margin: 0 0 0 200px;
    padding: 15px 0 500px 50px;
    border-right: 2px solid var(--theme-color);
    background-color: var(--background-color);
    position: relative;
    z-index: 1;
}


.jump-target {
    position: relative;
    top: -55px;
}

.img-box {
    float: right;
    clear: right;
    border: 4px solid var(--theme-color);
    padding: 15px;
    margin: 5px 15px 5px 5px;
    background-color: var(--background-color);
}

.img-box p {
    font-family: sans-serif;
    font-size: 14px;
    color: var(--text-color2);
}

.header0 {
    margin-top: 10px;
    margin-left: -15px;

    color: var(--theme-color);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 26pt;
    margin-bottom: 5px;
    float: none;
}

.header1 {
    margin-left: -15px;

    color: var(--theme-color);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22pt;
    margin-bottom: 5px;
    float: none;
}


.text {
    color: var(--text-color);
    font-family: sans-serif;
    font-size: 15pt;
    float: none;
}

.text a {
    color: var(--theme-color);
}

.content-list {
    /*margin-left: 45px;*/

    /*width: 700px;*/
    color: var(--text-color);
    font-family: sans-serif;
    font-size: 15pt;
    float: none;
}

.title-container {
    display: inline-block;
    height: 450px;
}

.title {
    padding-top: 200px;
    color: white;
    text-align: center;
    line-height: 50px;

    font-family: sans-serif;
    font-size: 40pt;
}

.title-blurb {
    color: white;
    text-align: center;
    line-height: 35px;

    font-family: sans-serif;
    font-size: 12pt;
}

.top-bar-container {
    position: fixed;

    top: 0;
    width: 70%;
    height: 50px;

    margin-left: 200px;

    padding-left: 25px;
    padding-right: 25px;

    z-index: 5;

    background-color: var(--background-color);

    border-right: 2px solid var(--theme-color);
    border-bottom: 2px solid var(--theme-color);

    text-align: center;
}

.top-bar {
    top: 0;

    height: 50px;
    width: 70%;
    background-color: var(--background-color);
    color: var(--theme-color);
    position: fixed;

    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    z-index: 5;
}

.side-bar {
    top: 0;
    width: 200px;
    height: 100%;

    background-color: var(--background-color);
    display: inline-block;
    position: fixed;
    z-index: 8;
    border-right: 2px solid var(--theme-color);
}


.side-bar-title {
    margin-top: 15px;
    margin-left: 15px;

    font-size: 19pt;
    color: var(--theme-color);

}

.side-bar-links {
    margin-top: 7px;
    margin-left: 25px;
    color: var(--text-color);
    height: 100%;
}

.side-bar-link {
    text-decoration: none;

    font-size: 17px;
    color: var(--text-color);

    transition-timing-function: ease;
    transition-duration: 0.1s;
}

.link-0 p {
    margin-left: 0;
}

.link-1 p {
    margin-left: 15px;
}

.side-bar-link p {
    margin-top: 5px;
    margin-bottom: 5px;
}
