<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aize-lang</title>
      <link rel="stylesheet" href="style.css">
    <link rel="icon" type="images/png" href="images/logo50x50.png">
</head>
<body>
    <div class="side-bar">
        <img src="images/logo.svg" alt="aize logo">
        <div class="side-bar-title">
            Navigation
        </div>
        <div class="side-bar-links">
            <a href="#title" class="side-bar-link"><p>Aize</p></a>
            {% for item in items %}
                {% if item.type == "Header" %}
                    <a href="#{{ item.anchor }}" class="side-bar-link link-{{ item.level }}"><p>{{ item.header }}</p></a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="top-bar-container">
        <div class="shadow-container">
        <div class="top-bar">
            <p class="top-bar-title">The Aize Programming Language</p>
        </div>
        </div>
        <div class="top-bar-right"></div>
    </div>
    <div class="title-bar-container">

        <div class="title-bar">
            <a id="title"></a>
            <div class="title-container">
                <div class="title">
                    Aize
                </div>
                <div class="title-blurb">
                    The Future of Programming
                </div>
            </div>
        </div>

    </div>
    <div class="content-container">
        <div class="content">
            {% for item in items %}
                {{ item.render() }}
            {% endfor %}
        </div>
    </div>
</body>
</html>